* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #e9e9e9;
  margin: 20px auto;
  padding: 0 10px;
  background-color: #454d55;
}
@media (max-width: 768px) {
  body {
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
  }
}

.wrapper {
  max-width: 920px;
  margin: auto;
}

h1 {
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  h1 {
    margin: 10px 0;
  }
}

h2 {
  font-weight: 500;
}
@media (max-width: 768px) {
  h2 {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  h2 {
    margin: 10px 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  width: 100%;
  position: relative;
  margin-bottom: -63px;
  border-radius: 8px;
  background-color: #292c2f;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
  z-index: 2;
}
@media (max-width: 768px) {
  .header {
    border-radius: 0 0;
    height: 45px;
  }
}
@media (max-width: 575px) {
  .header {
    display: none;
  }
}

.nav {
  width: 100%;
  padding: 0;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}
.nav__link {
  display: block;
  padding: 0 5px;
  line-height: 5px;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  color: #b9b9b9;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 16px;
  }
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
  color: #ffffff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 63px;
  padding-bottom: 80px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
  background-color: #343a40;
}
@media (max-width: 575px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 0;
    border-radius: 0;
  }
}

.section {
  width: 50%;
  padding: 0 20px;
  border-bottom: 1px solid rgba(185, 185, 185, 0.231372549);
}
@media (max-width: 575px) {
  .section {
    width: auto;
  }
}
.section:last-child {
  border-bottom: none;
}
.section__title {
  text-align: center;
  text-transform: uppercase;
}

.photo {
  margin: 0 auto;
  width: 250px;
  height: 300px;
  margin-bottom: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo__img {
  border-radius: 2px;
  -webkit-box-shadow: rgb(18, 18, 18) 3px 3px 25px 5px;
          box-shadow: rgb(18, 18, 18) 3px 3px 25px 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 300px;
}

.code {
  text-align: center;
}
@media (max-width: 575px) {
  .code {
    margin: 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: relative;
  margin-top: -80px;
  border-radius: 8px;
  background-color: #262b2f;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
  z-index: 2;
}
@media (max-width: 768px) {
  .footer {
    border-radius: 0 0;
  }
}
@media (max-width: 575px) {
  .footer {
    height: 40px;
  }
}
.footer__year-img, .footer__git-img, .footer__rs-img {
  height: 40px;
}
@media (max-width: 575px) {
  .footer__year-img, .footer__git-img, .footer__rs-img {
    height: 20px;
  }
}